<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title></title>
    <style>
      .center-content {
        min-height: 100vh; /* Ensure the container takes at least the full viewport height */
      }
      .btn {
        background: linear-gradient(to bottom right, #e710ea, #2b68e0);
        border: 2px solid #5356e3;
        font-weight: bold;
        padding: 5px 20px;
        border-radius: 30px;
        color: white; /* Set text color to transparent */
        cursor: pointer;
        position: relative;
      }
      .custom-jumbotron {
        padding: 20px; /* Adjust the padding to make it smaller */
          background-color: white;
      }
    </style>
  </head>
  <body>
    <div class="center-content d-flex justify-content-center align-items-center" style="background-color: lightgrey">
      <div>
        <section>
          <div class="container-fluid h-custom">
            <div class="jumbotron custom-jumbotron" style="padding-top: -10px; margin: 0"> <!-- Apply the custom class to the jumbotron -->
              <div class="row">
                <div class="col-md-6">
                  <img src="../static/img2.jpg" class="img-fluid" alt="Sample image" style="width: 500px; height: 500px;">
                </div>
                <div class="col-md-6">
                  <form method="post">
                    {% comment %} <ul class="errorlist"><li>A user with that username already exists.</li></ul> {% endcomment %}
                    {% csrf_token %}
                    <h2 style="padding-bottom: 20px">Lawyer Registration</h2>

                    <!-- First Row - Username Field -->
                    <div class="row">
                      <div class="col">
                        <div class="form-outline mb-4">
                          <label class="form-label" for="form3Example3">Username:</label>
                          <input type="text" name="username" id="form3Example3" class="form-control" placeholder="Enter your username">
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline mb-4">
                          <label class="form-label" for="form3Example5">Email:</label>
                          <input type="email" name="email" id="form3Example5" class="form-control" placeholder="Enter your email">
                        </div>
                      </div>
                    </div>

                    <!-- Second Row - Password Field -->
                    <div class="row">
                      <div class="col">
                        <div class="form-outline mb-4">
                          <label class="form-label" for="form3Example4">Password:</label>
                          <input type="password" name="password" id="form3Example4" class="form-control" placeholder="Enter your password">
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline mb-4">
                          <label class="form-label" for="form3Example6">Name:</label>
                          <input type="text" name="name" id="form3Example6" class="form-control" placeholder="Enter your name">
                        </div>
                      </div>
                    </div>

                    <!-- Third Row - Phone and State Fields -->
                    <div class="row">
                      <div class="col">
                        <div class="form-outline mb-4">
                          <label for="id_phno">Phone Number:</label>
                           <input type="number" name="phno" id="form3Example7" class="form-control" placeholder="Enter your phone no">
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline mb-4">
                          <label for="id_lawyertype">Lawyer Type:</label>
                          <select name="lawyertype" id="cars">
                            <option value="Criminal Defense">Criminal Defense Lawyer</option>
                            <option value="Family Law">Family Law Attorney</option>
                            <option value="Personal Injury">Personal Injury Lawyer</option>
                            <option value="Immigration">Immigration Attorney</option>
                            <option value="Business Law">Business Lawyer</option>
                            <option value="Estate Planning">Estate Planning Attorney</option>
                          </select>
                           <!-- <input type="text" name="lawyertype" id="form3Example7" class="form-control" placeholder="Enter Lawyertype"> -->
                        </div>
                      </div>
                    </div>

                    <!-- Fourth Row - Pincode Field -->
                    <div class="row">
                        <div class="col">
                        <div class="form-outline mb-4">
                          <label for="id_enrollmentno">Enrollment No:</label>
                            <input type="number" name="enrollmentno" min="-9223372036854775808" max="9223372036854775807" required="" id="id_enrollmentno" class="form-control" placeholder="Enter lawyertype">
                        </div>
                      </div>

                      <div class="col">
                        <div class="form-outline mb-4">
                          <label for="id_enrollmentstate">Enrollment State:</label>
                            <input type="text" name="enrollmentstate" min="-9223372036854775808" max="9223372036854775807" required="" id="id_enrollmentno" class="form-control" placeholder="Enter enrollmentstate">
                        </div>
                      </div>
                    </div>
                  <div class="row">
                      <div class="col">
                        <div class="form-outline mb-4">
                          <label for="id_Pincode">Pincode:</label>
                            <input type="number" name="Pincode" min="-9223372036854775808" max="9223372036854775807" required="" id="id_enrollmentno" class="form-control" placeholder="Enter pincode">
                        </div>
                      </div>
                        <div class="col">
                        <div class="form-outline mb-4">
                          <label for="id_upi_id">Upi id:</label>
                            <input type="text" name="upi_id"  required="" id="id_enrollmentno" class="form-control" placeholder="Enter upi id">
                        </div>
                      </div>
                    </div>
                    <div class="text-center text-lg-start mt-4 pt-2">
                      <button type="submit" name="" class="btn btn-primary btn-lg" value="login" style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
